.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-down {
	font-size:(19.5/10)*1rem;
	width:(13.6/19.5)*1em;
}
.icon-arr-top {
	font-size:(19.4/10)*1rem;
	width:(13.6/19.4)*1em;
}
.icon-done {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-important {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-not {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-reset {
	font-size:(17.7/10)*1rem;
	width:(16.1/17.7)*1em;
}
 