<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        .theme-wrap
            .container-big 
                include templates/admin_content
        include templates/scripts_include
        