<!DOCTYPE html>
html(lang="ru")
    include templates/head
    body
        .theme-wrap
            .container 
                include templates/personal_account
        include templates/popup
        include templates/scripts_include
        